<%= form_for @project do |f| %>
 
  <% if @project.errors.any? %>
    <div id="error_explanation" class="alert alert-success" role="alert">
      <h2>
       保存项目时产生了<%= pluralize(@project.errors.count, "个错误:") %>
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :项目名称 %>
    <%= f.text_field :title, :style => "width:525px;" %>* <span id="helpBlock2" class="help-block" >当前0字/最多100字 *</span>
  </p>
<div class="form-inline">
  <div class="input-group input-group-sm">
   <p>
  <%= f.label :计划开始时间%>*

   <%= f.text_field :ScheduledStartDate, class: "project_start_date form-control", style: "z-index:1000;position:relative;width:225px;" %>
   </p>
   </div>
   <div class="input-group input-group-sm">
   <p>
   <%= f.label :计划结束时间%>*
   <%= f.text_field :ScheduledFinishDate, class: "project_start_date form-control", style: "z-index:1000;position:relative;width:225px;" %>

   </p>

   </div>
   </div>

 
  <div class="form-inline">
  <div class="input-group input-group-sm">
   <p>
    <%= f.label :项目类型 %> *
    <%= f.select(:project_type, @project_type,{ :prompt => "请选择"},{:class => "form-control",:style => "width:225px;"}) %>
     </p>
     </div>
     <div class="input-group input-group-sm">
 <p>
    <%= f.label :所属系统, :required => true%>
    <%= f.select(:system, @system,{ :prompt => "请选择"},{:class => "form-control",:style => "width:225px;"}) %>
  </p>
  </div>
</div>
  <div class="form-inline">
    <div class="form-group">
   <p>
    <%= f.label :项目负责人%> 
    <%= f.select :DevelopBy, options_for_select(@developer), {}, {:multiple => true, :class => "chosen-select form-control", :style => "width:230px;" }%>*
  </p>
  </div>
   
     <div class="form-group">
   
  </div>

      <div class="form-group">
  <p>
    <%= f.label :测试负责人%> 
    <%= f.select :TestBy, options_for_select(@tester), {}, {:multiple => true,:class => "form-control chosen-select", :style => "width:225px;"}%>*
  </p>
    </div>
    </div>
 

  <p>
    <%= f.label :备注 %><br>
    <%= f.text_area :remark, :style => "width:525px;" %>
  </p>
 
  <p>
    <%= f.submit  %>
  </p>
 
<% end %>