<div class = "container">
	<ol class="breadcrumb">
  		<li><a href="#">周报管理系统</a></li>
  		<li class="active">主页</li>  		
	</ol>

	<div class = "well well-lg">
     
		<ul class="nav nav-tabs nav-justified" >
			<%= link_to '新增项目', new_project_path, :role =>"button", :class=>"btn btn-primary btn-lg" %>
			<%= link_to '填写周报', new_weekly_report_path, :role =>"button", :class=>"btn btn-primary btn-lg" %>
			<%= link_to '个人周报查询', weekly_reports_path, :role =>"button", :class=>"btn btn-primary btn-lg" %>
		</ul>		

	</div>

	<div class ="jumbotron">
		<div class="row">
		  <div class="col-sm-8 col-md-6">
		  	<h4>最近新增的测试工作项目</h4>
 
			<table class="table table-striped">
  			<tr>
  			  <th>项目名称</th>
   			 <th>测试负责人</th>
   			 <th colspan=2>操作</th>
    
 			 </tr>
 
			  <% @project.each do |project| %>
			    <tr>
			      <td><%= project.title %></td>
			      <td><%= project.TestBy.reject { |c| c.empty? }.join(",") %></td>
			      <td><%= link_to '详情', project_path(project) %> 
			      <%= link_to '编辑', edit_project_path(project) %> 			      
			      </td>

   				 </tr>
  				<% end %>
			</table>
		  </div>

		  <div class="col-sm-8 col-md-6">
		  	<h4>最近填写的周报</h4>

		  	<table class="table table-striped">
  			<tr>
  			  <th>周报时间</th>
   			  <th>项目</th>
   			  <th>进度</th>
   			  <th>操作</th>
    
 			 </tr>
 
			  <% @project.each do |project| %>
			    <% project.Weekly_reports.each do|report| %>
			      <% if report.reporter == current_user.email %>
			    <tr>			       		        
			      <td><%= report.year %>年<%= report.week %>周</td>
			      <td><%= project.title %></td>
			      <td><%= report.progress %> % </td>
				  <td><%= link_to '编辑', edit_weekly_report_path(report) %> </td>	

   				 </tr>
   				   <% end %> 
   				  <% end %>
  				<% end %>
			</table>

		</div>
		</div>

		

	</div>

</div>


<div class ="jumbotron">

<%= link_to '项目列表', controller: 'projects' %>
<%= link_to '新增项目', new_project_path %>

</div>